<div class="card mt-2">
    <div class="card-header bg-dark text-white">
        <h5>Posted by {{quote.username}}</h5>
    </div>
    <div class="card-body">
        <h4>{{quote.quote}}</h4>
        <p>{{quote.author}}</p>
        <small class="text-muted">Posted {{quote.date | timeSince}} </small>
    </div>
    <div class="card-footer bg-dark text-white">
        <button type="submit" class="btn btn-outline-success ml-2"
        (click)="upVoteQuote(quote)">Upvotes: {{quote.upVotes}}</button>
        <button type="submit" class="btn btn-outline-warning ml-2"
        (click)="downVoteQuote(quote)">Downvotes: {{quote.downVotes}}</button>
        <button type="submit" class="btn btn-outline-danger ml-2" (click)= 'quoteDelete(true)'>Delete Quote</button>
    </div>
</div>  