<div class="container">
    <div class="row mt-3">
        <div class="col-md-6">
            <h1>Quotes</h1>
            <hr>
                <div *ngFor='let quote of quotes;let i = index'>
                    <div class="row">
                        <div class="col-md-12 p-3">
                            <h3>{{quote.quote}}</h3> <br>
                            <button type="submit" class="btn btn-outline-info" (click)='toggleDetails(i)'>View Details</button>
                            <app-quote-details *ngIf='quote.showMore' [quote] = 'quote' (isComplete) = 'deleteGoal($event,i)'></app-quote-details>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-6">
            <app-quote-form></app-quote-form>
        </div>
    </div>
</div>